.content{
    margin-top: 10rem;
    width: 100vw;
    min-height: 10vh;
    background-color: #FFF;



}

.content-container{
    display: flex;
    list-style-type: none;
}

.content-section{
    margin-top: 5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.card {
    margin-top: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}